/**
 * Light theme variables
 */


:root {
    --base-color: #8caaee;
    --border: dashed 1px rgba(85, 193, 220, 1);
    --selection-background: rgba(85, 193, 220, 0.99);
    --selection-text: #c6d0f5;
    --background-color: #303446;
    --text-color: #c6d0f5;
    --placeholder-color: #b5bfe2;
    --link-color: #f4b8e4;
    --code-color-1: #a6d189;
    --code-color-2: #c6d0f5;
    --code-color-3: #e78284;
    --code-color-4: #ea999c;
    --code-color-5: #81c8be;
    --code-color-6: #99d1db;
    --code-color-7: #e78284;
    --code-color-8: #81c8be;
    --code-color-9: #8caaee;
    --code-color-10: #8caaee;
    --code-color-11: #c6d0f5;
    --code-color-12: #e78284;
    --code-color-13: #81c8be;
    --code-color-14: #8caaee;
    --code-color-15: #e78284;
    --code-color-16: #81c8be;
    --code-color-17: #e78284;
    --code-color-18: #8caaee;
}
