/**
 * Dark theme variables
 */

:root {
    --base-color: #8aadf4;
    --border: dashed 1px rgba(125, 196, 228, 1);
    --selection-background: rgba(125, 196, 228, 0.99);
    --selection-text: #cad3f5;
    --background-color: #24273a;
    --text-color: #cad3f5;
    --placeholder-color: #b8c0e0;
    --link-color: #f5bde6;
    --code-color-1: #a6da95;
    --code-color-2: #cad3f5;
    --code-color-3: #ed8796;
    --code-color-4: #ee99a0;
    --code-color-5: #8bd5ca;
    --code-color-6: #91d7e3;
    --code-color-7: #ed8796;
    --code-color-8: #8bd5ca;
    --code-color-9: #8aadf4;
    --code-color-10: #8aadf4;
    --code-color-11: #cad3f5;
    --code-color-12: #ed8796;
    --code-color-13: #8bd5ca;
    --code-color-14: #8aadf4;
    --code-color-15: #ed8796;
    --code-color-16: #8bd5ca;
    --code-color-17: #ed8796;
    --code-color-18: #8aadf4;
}
