/**
 * Light theme variables
 */

 :root {
    --base-color: #1e66f5;
    --border: dashed 1px rgba(30, 102, 245, 1);
    --selection-background: rgba(30, 102, 245, 0.99);
    --selection-text: #eff1f5;
    --background-color: #eff1f5;
    --text-color: #4c4f69;
    --placeholder-color: #5c5f77;
    --link-color: #ea76cb;
    --code-color-1: #40a02b;
    --code-color-2: #eff1f5;
    --code-color-3: #d20f39;
    --code-color-4: #e64553;
    --code-color-5: #179299;
    --code-color-6: #04a5e5;
    --code-color-7: #d20f39;
    --code-color-8: #179299;
    --code-color-9: #1e66f5;
    --code-color-10: #1e66f5;
    --code-color-11: #eff1f5;
    --code-color-12: #d20f39;
    --code-color-13: #179299;
    --code-color-14: #1e66f5;
    --code-color-15: #d20f39;
    --code-color-16: #179299;
    --code-color-17: #d20f39;
    --code-color-18: #1e66f5;
}
