/**
 * Light theme variables
 */

 :root {
    --base-color: #89b4fa;
    --border: dashed 1px rgba(116, 199, 236, 1);
    --selection-background: rgba(116, 199, 236, 0.99);
    --selection-text: #cdd6f4;
    --background-color: #1e1e2e;
    --text-color: #cdd6f4;
    --placeholder-color: #bac2de;
    --link-color: #f5c2e7;
    --code-color-1: #a6e3a1;
    --code-color-2: #cdd6f4;
    --code-color-3: #f38ba8;
    --code-color-4: #eba0ac;
    --code-color-5: #94e2d5;
    --code-color-6: #89dceb;
    --code-color-7: #f38ba8;
    --code-color-8: #94e2d5;
    --code-color-9: #89b4fa;
    --code-color-10: #89b4fa;
    --code-color-11: #cdd6f4;
    --code-color-12: #f38ba8;
    --code-color-13: #94e2d5;
    --code-color-14: #89b4fa;
    --code-color-15: #f38ba8;
    --code-color-16: #94e2d5;
    --code-color-17: #f38ba8;
    --code-color-18: #89b4fa;
}
