///tokyo-night
$tokyo-night-base: #1a1b26;
$tokyo-night-text: #a9b1d6;
$tokyo-night-red: #f7768e;
$tokyo-night-orange: #ff9e64;
$tokyo-night-yellow: #e0af68;
$tokyo-night-green: #9ece6a;
$tokyo-night-teal: #73daca;
$tokyo-night-light-cyan: #b4f9f8;
$tokyo-night-cyan: #7dcfff;
$tokyo-night-dark-cyan: #2ac3de;
$tokyo-night-blue: #7aa2f7;
$tokyo-night-purple: #bb9af7;
$tokyo-night-white: #c0caf5;
$tokyo-night-subtext1: #9aa5ce;
$tokyo-night-subtext0: #787c99;
$tokyo-night-overlay2: #6b7089;
$tokyo-night-overlay1: #565f89;
$tokyo-night-overlay0: #414868;
$tokyo-night-surface2: #3b4261;
$tokyo-night-surface1: #343b58;
$tokyo-night-surface0: #292e42;
$tokyo-night-mantle: #1f2335;
$tokyo-night-crust: #16161e;
