---
# Only the main Sass file needs front matter (the dashes are enough)
---

@use "_base";
@use "_code";
@use "colors/_tokyo-night";
@use "theme/_theme-tokyo-night";
@use "syntax-highlighting/_syntax-tokyo-night";
