---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "theme/latte";
@import "base";

@media (prefers-color-scheme: dark) {
    @import "theme/macchiato";
}

//syntax highlighting based on dark mode preference
@media (prefers-color-scheme: light) {
    @import "sass-code-highlight/latte";
  }
@media (prefers-color-scheme: dark) {
    @import "sass-code-highlight/macchiato";
  }
